.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 70px minmax(300px, auto); 70px;
    grid-gap: 3px;
}

.container div {
    background-color: yellow;
}

.header {
    grid-column: 1/ span 4;
}

.article { 
    grid-column: 1/ span 2;
}

.nav {
    grid-column: 3/ span 1;
}

.ads {
    grid-column: 4/ span 1;
}

.footer {
    grid-column: 1/ span 4;
}