.container .div1 {
    background-color: blueviolet;
    height: 40px;
    z-index: 4;
    position: relative;;
    top: 60px;
    transition: 1s;
}

.container .div2 {
    background-color: gray;
    height: 40px;
    position: relative;
    top: 40px;
    z-index: 2;
    transition: 1s;
}

.container .div3 {
    background-color: black;
    height: 40px;
    position: relative;
    top: 20px;
    z-index: 1;
    transition: 1s;
}

.div1:hover {
   z-index: 5; 
   
}
.div2:hover {
    z-index: 5;
}
.div3:hover {
    z-index: 5;
}