/* The syntax of pseudo-classes:
selector:pseudo-class {
  property: value;
} */

p:hover {
    color: #FF00FF;}

a:link {
    color: red;
}

a:visited {
    color: blue;
}

a:hover {
    color: green;
}

a:active {
    color:bisque
}