/* h1 {
    color: orange;
}
* {
    background-color: blue;
} */

/* h2 {
    color: blue;
}

.class {
    color: red;
}

#id {
    color: green;
} */

/* h1, h2 {
    color: blueviolet;
} */

h2 {
    color: red;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}