h1 {
    margin: 0;
    background-color: cornflowerblue;
    margin-bottom: 100px;
}

div {
    background-color: cadetblue;
    width: 250px;
    height: 250px;

    border: 5px solid black;
    padding: 25px;
    margin: 50px;
    margin-left: 250px;
}