/* 
    What is Grid in CSS? 
    -- create two dimensional layout
    What is difference between % and em units in CSS?
    --
    What does rem mean?
    -- root element
*/
/* 
    Media Query
 */

 body {
    background-color: coral;
 }

 div {
    float: left;
 }

 .div1 {
    background-color: chartreuse;
    height: 200px;
    width: 50%;
 }

 .div2 {
    background-color: goldenrod;
    height: 200px;
    width: 50%;
 }

 @media (min-width:600px) and (max-width: 800px)
 {
    body {
        background-color: blueviolet;
    }
    h1 {
        font-size: 40px;
    }
    div {
        clear: both;
    }
 }

 .div2 {
    
 }